.moviewrapper {
  display: flex;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.button {
  padding: 5px;
  margin: 10px 0;
  border-radius: 6px;
  font-size: 16px;
}

.datailswrapper {
  padding: 10px;
}

.poster {
  display: block;
  width: 300px;
}
.movietitle {
}
.overview {
  font-size: 30px;
  font-weight: bold;
}

.genres {
  margin-right: 10px;
}

.form {
  display: flex;
  gap: 15px;
  align-items: center;
}

.input {
  width: 500px;
  height: 30px;
  border-radius: 6px;
  font-size: 20px;
  padding-left: 10px;
}

.information {
  border-bottom: 1px solid black;
}
